@model EditUserViewModel
 
@{
    ViewBag.Title = "Edit User";
}
 <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<h1>Редактиране на потребител</h1>
 
<form method="post" class="mt-3"  id="editUserForm">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label">Номер</label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label">Имейл</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
 
 
    <div class="form-group row">
        <label asp-for="FirstName" class="col-sm-2 col-form-label">Име</label>
        <div class="col-sm-10">
            <input asp-for="FirstName" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="LastName" class="col-sm-2 col-form-label">Фамилия</label>
        <div class="col-sm-10">
            <input asp-for="LastName" class="form-control">
        </div>
    </div>
 
    <div asp-validation-summary="All" class="text-danger"></div>
 
 
 
    <div class="form-group row">
        <div class="col-sm-10">
 
            <button class="btn btn-primary" onclick="openForm()">Актуализирай</button>
            <div id="myForm">
                <div id="myFormContent">
                    <span class="close" onclick="closeForm()">&times;</span>
                    <h2>Актуализиране на данни</h2>
                    <form onsubmit="submitForm(event)">
                        <label for="email">Административен имейл:</label>
                        <input type="email" id="email" name="AdminEmail" required><br><br>
                        <label for="password">Административна парола:</label>
                        <input type="password" id="password" name="Adminpassword" required><br><br>
                        <button type="submit" class="btn btn-primary" onclick="submitForm(event)">Актуализирай</button>
                    </form>
                </div>
            </div>
 
            <a asp-action="ListUsers" class="btn btn-secondary">Отмяна</a>
        </div>
    </div>
 
    <br/>
    <div class="card">
        <div class="card-header">
            <h3>Потребителски роли</h3>
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">Няма налични в момента</h5>
            }
        </div>
        <div class="card-footer">
            <a href="@Url.Action("ListRoles", "Administration")" style="width:auto" class="btn btn-primary">
                Управление на роли
            </a>
        </div>
    </div>
 
 </form>
 
 
 
@section Scripts {
    <script>
        // Function to open the pop-up window
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        // Function to close the pop-up window
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        // Function to handle form submission
        function submitForm(event) {
            event.preventDefault(); // prevent default form behavior
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            // get user data from main form
            var userId = document.getElementById("Id").value;
            var userFirstName = document.getElementById("FirstName").value;
            var userLastName = document.getElementById("LastName").value;
            var userEmail = document.getElementById("Email").value;

            // make AJAX call to AdministrationController's method
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditUser", "Administration")',
                data: {
                    adminEmail: email,
                    adminPassword: password,
                    userId: userId,
                    userFirstName: userFirstName,
                    userLastName: userLastName,
                    userEmail: userEmail
                },
                success: function (result) {
                    // close the pop-up window and refresh the page
                    closeForm();
                    location.reload();
                },
                error: function (error) {
                    alert("An error occurred while updating the user.");
                }
            });
        }
    </script>
}


