.dropdown-menu {
    margin-left: -120px;
    background-color: transparent;
    border: none;
}

.dropdown-item {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.dropdown-toggle {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    margin-left: -120px;
}

    .dropdown-toggle:hover {
        color: #BABABA;
    }
