body {
    font-family: Arial, sans-serif;
    background-image: url('/Backgrounds/ProductsBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

header {
    
    color: #fff;
  
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-top: 0;
    color: white;
}

p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

h2 {
    color: white;
}
