html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




/* Style for pop-up window in EditUser.cshtml*/
#myForm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Style for pop-up window content */
#myFormContent {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* Style for close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }




.navbar {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    margin-right: 2rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    border-bottom: none;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #BABABA;
    }

