@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/LoginAndRegister.css">
</head>

<div class="login-box">
    <p>Create a new account</p>
    <form id="registerForm" method="post">
        <div class="user-box">
            <input required="" name="Input.FirstName" type="text"autocomplete="firstname" aria-required="true">
            <label asp-for="Input.FirstName">FirstName</label>
            <span asp-validation-for="Input.FirstName"></span>
        </div>
        <div class="user-box">
            <input required="" name="Input.LastName" type="text" autocomplete="lastname" aria-required="true">
            <label asp-for="Input.LastName">LastName</label>
            <span asp-validation-for="Input.LastName"></span>
        </div>
        <div class="user-box">
            <input required="" name="Input.Email" type="text" autocomplete="username" aria-required="true">
            <label asp-for="Input.Email">Email</label>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="user-box">
            <input required="" name="Input.Password" type="password" autocomplete="new-password" aria-required="true">
            <label asp-for="Input.Password">Password</label>
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div class="user-box">
            <input required="" name="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true">
            <label asp-for="Input.ConfirmPassword">ConfirmPassword</label>
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <button id="registerSubmit" type="submit">Create a new account</button>

    </form>
    <br></br>
    
</div>









       
                
           
          
          
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
