@using Microsoft.AspNetCore.Identity
@using EcommerceApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> signInManager;
<head>
    <link href="~/css/_loginpartial.css" rel="stylesheet" />
</head>
<ul class="navbar-nav custom-class">
@if (SignInManager.IsSignedIn(User))
{
        
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
        <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Управлявай
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-controller="Administration"
        asp-action="ListUsers">Потребители</a>
        <a class="dropdown-item" asp-controller="Administration"
        asp-action="ListRoles">Роли</a>
        </div>
        </li>
        }
        

    <li class="nav-item">
        <a id="manage" class="login-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Излез</button>
        </form>
    </li>
}
else
{
        
        <li class="nav-item">
            <a class="register-link" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="login-link" id="login" asp-area="Identity" asp-page="/Account/Login">Влез</a>
        </li>
        
}
</ul>
