@using Microsoft.AspNetCore.Identity
@using EcommerceApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> signInManager;
<head>
    <style>
        .dropdown-menu {
            margin-left: -120px;
            background-color: transparent;
            border: none;
           
            
        }
        .dropdown-item
        {
            color:white;
            font-weight: bold;
            text-shadow: 2px 2px 4px #000000;
            text-decoration: none;
        }
        .dropdown-toggle
        {
            color: white;
            font-size: 18px;
            font-weight: bold;
            text-shadow: 2px 2px 4px #000000;
            text-decoration: none;
            margin-left:-120px;
        }

         .dropdown-toggle:hover
         {
            color: #BABABA;
         }
    </style>
</head>
<ul class="navbar-nav custom-class">
@if (SignInManager.IsSignedIn(User))
{
        
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
        <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-controller="Administration"
        asp-action="ListUsers">Users</a>
        <a class="dropdown-item" asp-controller="Administration"
        asp-action="ListRoles">Roles</a>
        </div>
        </li>
        }
        

    <li class="nav-item">
        <a id="manage" class="login-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
        </form>
    </li>
}
else
{
        
        <li class="nav-item">
            <a class="register-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="login-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        
}
</ul>
