
<head>

    <link href="~/css/policies.css" rel="stylesheet" />
</head>

	<header>
		Privacy Policy | FashionCross
	</header>
	<main>
		<h1>Privacy Policy</h1>
		<p>At FashionCross, we are committed to protecting your privacy. This policy explains how we collect, use, and safeguard your personal information when you visit our website or purchase products from us.</p>

		<h2>Collection of Personal Information</h2>
		<p>When you purchase products from our website, we may collect personal information such as your name, shipping and billing addresses, email address, and phone number. We use this information to fulfill your orders and to communicate with you about your orders.</p>

		<p>We may also collect non-personal information such as your IP address, browser type, and operating system to help us improve our website and to provide a better user experience.</p>

		<h2>Use of Personal Information</h2>
		<p>We use your personal information to fulfill your orders and to communicate with you about your orders. We may also use your information to send you promotional offers or marketing materials, but only if you have given us your consent to do so.</p>

		<p>We do not sell or rent your personal information to third parties. However, we may share your information with third-party service providers who help us fulfill your orders and improve our website.</p>

		<h2>Security of Personal Information</h2>
		<p>We take reasonable steps to protect your personal information from unauthorized access, use, or disclosure. We use secure servers and encryption to protect your information during transmission.</p>

		<h2>Retention of Personal Information</h2>
		<p>We retain your personal information for as long as necessary to fulfill your orders and to comply with legal obligations. If you would like us to delete your personal information, please contact us and we will take reasonable steps to do so.</p>

		<h2>Changes to this Policy</h2>
		<p>We may update this policy from time to time. If we make any material changes to this policy, we will notify you by email or by posting a notice on our website.</p>

		<h2>Contact Us</h2>
		<p>If you have any questions or concerns about our privacy policy, please contact us at fashioncross@gmail.com.</p>

		<p>By using our website or purchasing products from us, you consent to our privacy policy and agree to its terms and conditions.</p>
	</main>


