
<head>

    <link href="~/css/policies.css" rel="stylesheet" />
</head>

	<header>
	Политика за поверителност | FashionCross
	</header>
	<main>
	<h1>Политика за поверителност</h1>
	<p>
		Във FashionCross се ангажираме да защитаваме поверителността ви. Тази политика обяснява как събираме, използваме и пазим вашата лична информация, когато посещавате нашия уебсайт или купувате продукти от нас.
	</p>

	<h2>Събиране на лична информация</h2>
	<p>Когато купувате продукти от нашия уебсайт, може да събираме лична информация, като например вашето име, адрес за доставка и фактуриране, имейл адрес и телефонен номер. Използваме тази информация, за да изпълним поръчките ви и да комуникираме с вас относно вашите поръчки.</p>

	<p>Можем да събираме и нелична информация, като например вашия IP адрес, тип браузър и операционна система, за да ни помогнем да подобрим нашия уебсайт и да осигурим по-добро потребителско изживяване.</p>
	<h2>Използване на лична информация</h2>
	<p>Използваме вашата лична информация, за да изпълним поръчките ви и да комуникираме с вас относно вашите поръчки. Можем също така да използваме Вашата информация, за да Ви изпращаме промоционални оферти или маркетингови материали, но само ако сте ни дали съгласието си за това.</p>

	<p>Ние продаваме или отдаваме под наем вашата лична информация на трети страни. Възможно е обаче да споделяме вашата информация с трети страни - доставчици на услуги, които ни помагат да изпълняваме вашите поръчки и да подобряваме нашия уебсайт.</p>

	<h2>Сигурност на личната информация</h2>
	<p>Поемаме разумни мерки, за да защитим вашата лична информация от неоторизиран достъп, използване или разкриване. Използваме сигурни сървъри и криптиране, за да защитим информацията ви по време на предаването ѝ.</p>

	<h2>Запазване на лична информация</h2>
	<p>Запазваме вашата лична информация толкова дълго, колкото е необходимо, за да изпълним вашите поръчки и да спазим законовите задължения. Ако желаете да изтрием личната Ви информация, моля, свържете се с нас и ние ще предприемем разумни стъпки, за да го направим.</p>

	<h2>Промени в тази политика</h2>
	<p>Можем да актуализираме тази политика от време на време. Ако направим някакви съществени промени в тази политика, ще ви уведомим по имейл или чрез публикуване на известие на нашия уебсайт.</p>

	<h2>Свържете се с нас</h2>
	<p>Ако имате някакви въпроси или притеснения относно нашата политика за поверителност, моля, свържете се с нас на fashioncross@gmail.com.</p>

	<p>С използването на нашия уебсайт или закупуването на продукти от нас, вие се съгласявате с нашата политика за поверителност и приемате нейните условия.</p>
</main>


