<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/Backgrounds/ProductsBackground.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        margin: 0;
    }
    img
    {
        width:700px;
        height:400px;
    }
    .container
    {
        text-align:center;
    }
</style>
<div class="container">

<img src="~/Images/SizeTables/T-ShirtSize.jpg" alt="T-shirtTable" />

<img src="~/Images/SizeTables/HoodieSize.jpg" alt="T-shirtTable" />
</div>